<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EVS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DBControl</display-name>
    <servlet-name>DBControl</servlet-name>
    <servlet-class>com.wipro.DBcontrol.DBControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBControl</servlet-name>
    <url-pattern>/DBControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EOControl</display-name>
    <servlet-name>EOControl</servlet-name>
    <servlet-class>com.wipro.EOControl.EOControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EOControl</servlet-name>
    <url-pattern>/EOControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ADControl</display-name>
    <servlet-name>ADControl</servlet-name>
    <servlet-class>com.wipro.ADControl.ADControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ADControl</servlet-name>
    <url-pattern>/ADControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.wippro.logout.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>